.heading {
	font-size: 1.25rem;
	text-align: center;
	font-weight: 900;
	width: 100%;
}

.wrapper {
	padding: 1rem 0 1rem 0.5rem;
	display: flex;
	flex-direction: column;
	min-width: 0;
	width: 100%;
}
.wrapper-empty {
	padding: 1rem 0;
}
.wrapper-empty div {
	padding: 7rem 2rem;
}
.wrapper-empty img {
	max-width: 80%;
}
.heading > i {
	font-size: 1.75rem;
	color: #7371fc;
	margin-right: 1rem;
}
@media screen and (max-width: 1000px) {
	.wrapper {
		padding: 1rem 0.5rem;
	}
	.heading > .title {
		display: none;
	}
	.heading > i {
		margin: 0;
		margin-left: 10px;
	}
	.wrapper-empty {
		padding: 0.2rem;
	}
	.wrapper-empty img {
		display: none;
	}
}
