@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
	--header-height: 3rem;
	--nav-width: 60px;
	--first-color: #24d68d;
	--second-color: #00c5ff;
	--third-color: #31f564;
	--fourth-color: #2288fa;
	--white-color: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
}
.nav-pills .nav-link {
	border-radius: 2rem !important;
}
.nav.nav-pills > li {
	transition: 0.2s ease-in-out;
}
.nav.nav-pills > li > a:hover {
	background: rgb(0, 123, 255, 0.2);
	color: white;
}
.nav-item:hover {
	opacity: 1;
}

.nav-item {
	opacity: 0.5;
}

.nav-item.active {
	opacity: 1;
}
.nav-item .nav-link.active:hover {
	background: #007bff !important;
}

.modal-dialog {
	max-width: none;
	width: 50%;
}

* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	transition: 0.3s ease-in-out;
}
select::-ms-expand {
	display: none;
}
select {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	background: #fff
		url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
}

a {
	text-decoration: none;
}
main {
	min-height: 100vh;
	background: linear-gradient(to right top, #31f564, #2288fa);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Poppins", sans-serif;
}
/* h1 {
	color: #426669;
	font-weight: 600;
	font-size: 3rem;
	opacity: 0.8;
}
h2,
p {
	color: #6583c6;
	font-weight: 500;
	opacity: 0.8;
	margin-bottom: 0 !important;
}
h4,
h5 {
	color: #426696;
	font-weight: 600;
	opacity: 0.8;
	margin-bottom: 0 !important;
} */
@media only screen and (max-width: 600px) {
	.example {
		background: red;
	}
}

tabset > ul {
	display: flex;
	justify-content: center;
}
tabset > ul > li {
	margin: 0 20px;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

.dboard {
	width: 90%;
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: rgb(0, 0, 0);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #30ff00);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, #00c6ff);
}
