@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
	--header-height: 3rem;
	--nav-width: 60px;
	--first-color: #24d68d;
	--second-color: #00c5ff;
	--third-color: #31f564;
	--fourth-color: #2288fa;
	--white-color: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
}

* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
main {
	min-height: 100vh;
	background: linear-gradient(to right top, #31f564, #2288fa);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Poppins", sans-serif;
}
h1 {
	color: #426669;
	font-weight: 600;
	font-size: 3rem;
	opacity: 0.8;
}
h2,
p {
	color: #6583c6;
	font-weight: 500;
	opacity: 0.8;
	margin-bottom: 0 !important;
}
h4,
h5 {
	color: #426696;
	font-weight: 600;
	opacity: 0.8;
	margin-bottom: 0 !important;
}
@media only screen and (max-width: 600px) {
	.example {
		background: red;
	}
}
.glass {
	background: white;
	min-height: 90vh;
	width: 100%;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	border-radius: 2rem;
	z-index: 3;
	backdrop-filter: blur(2rem);
	display: flex;
	position: relative;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

.dboard {
	width: 90%;
}
