.user-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 1rem 2rem;
	transition-duration: 300ms;
	transition-timing-function: ease-out;
}
.user-card.sent img {
	border: 4px dotted #2288fa;
}
.user-img:hover {
	transform: scale(1.2, 1.2);
	transition-duration: 300ms;
	transition-timing-function: ease-out;
}

.user-img:hover img {
	opacity: 0.7;
	background: white;
}

.user-img:hover .options {
	transform: scale(1.3, 1.3);
	transition-duration: 300ms;
	transition-timing-function: ease-out;
	opacity: 1;
	transform: rotate(0deg);
}
.user-card.sent .options > i {
	transform: rotate(45deg);
}
.user-img img {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	border: 4px solid var(--second-color);
}

.user-img {
	margin-bottom: 5px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.options {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	transition: 0.3s;
}

.options > i {
	transform-origin: 50%, 50%;
	background: linear-gradient(to right top, #31f564, #2288fa);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.options > i:hover {
	transform: scale(1.3);
}
.req-decision {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	bottom: 0;
}

.req-decision > .fa-check:hover,
.req-decision > .fa-times:hover {
	transform: scale(1.3);
}

.req-decision button {
	font-size: 10px !important;
}
