<div class="user-card" [class]="sent ? 'sent' : ''">
	<!--routerLink="/{{ member.username }}"> -->
	<div class="user-img">
		<img
			[src]="
				member.photoUrl || member.gender == 'Female'
					? './assets/profilegirl.png'
					: './assets/profileboy.png'
			"
			alt=""
		/>
		<div class="options">
			<!-- <i class="fa fa fa-heart"></i> -->
			<i
				*ngIf="member.friendStatus == 3"
				class="fa fa-2x fa-plus"
				(click)="ToggleRequest()"
			></i>
			<div class="req-decision" *ngIf="member.friendStatus == 0">
				<i
					class="fa fa-2x fa-check"
					style="color: rgb(0, 220, 0)"
					(click)="AcceptRequest()"
				></i>
				<i
					class="fa fa-2x fa-times text-danger"
					style="color: red"
					(click)="RejectRequest()"
				></i>
			</div>
		</div>
	</div>
	<div class="card-content">
		<h6 class="user-name">{{ member.username | titlecase }}</h6>
	</div>
</div>
