<div class="user-card" [class]="sent ? 'sent' : ''">
	<!--routerLink="/{{ member.username }}"> -->
	<div class="user-img">
		<img
			[src]="
				member.photoUrl || member.gender == 'Female'
					? './assets/profilegirl.png'
					: './assets/profileboy.png'
			"
			alt=""
		/>
		<div class="options">
			<!-- <i class="fa fa fa-heart"></i> -->
			<i class="fa fa-2x fa-plus" (click)="ToggleRequest()"></i>
		</div>
	</div>
	<div class="card-content">
		<h6 class="user-name">{{ member.username | titlecase }}</h6>
	</div>
</div>
