<div class="glass">
	<div class="dashboard">
		<div class="dashboard-wrapper">
			<app-nav></app-nav>
			<div class="dashboard-content">
				<div class="user">
					<img src="./assets/profile.png" alt="" />
					<h4>Teresa Nightingale</h4>
					<p>Pro Member</p>
				</div>
				<div class="cards">
					<div class="card">
						<img src="" alt="" />
						<div class="card-info">
							<h5>This is a test Group</h5>
							<p>Card Subtitle</p>
						</div>
					</div>
					<div class="card">
						<img src="" alt="" />
						<div class="card-info">
							<h5>This is a test Group</h5>
							<p>Card Subtitle</p>
						</div>
					</div>
				</div>
				<div class="pro">
					<h4>Download Desktop Client</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="games">
		<div class="status">
			<h1>Active Games</h1>
			<input type="text" />
		</div>
	</div>
</div>
