<div class="dashboard-stats">
	<div class="heading">Dashboard</div>
	<div class="stats-wrapper">
		<div class="friends stats-item">
			<div class="icon"><i class="fa fa-users"></i></div>
			<div class="number">
				{{ this.friends }}
			</div>
			<div class="title">Friends</div>
		</div>
		<div class="followers stats-item">
			<div class="icon"><i class="fa fa-user-secret"></i></div>
			<div class="number">999</div>
			<div class="title">Followers</div>
		</div>
		<div class="projects stats-item">
			<div class="icon"><i class="fa fa-book"></i></div>
			<div class="number">12</div>
			<div class="title">Projects</div>
		</div>
		<div class="messages stats-item">
			<div class="icon"><i class="fa fa-comments"></i></div>
			<div class="number">{{ this.messages?.length }}</div>
			<div class="title">New Messages</div>
		</div>
		<div class="hours stats-item">
			<div class="icon"><i class="fa fa-user-plus"></i></div>
			<div class="number">
				{{ (this.friendsService.friends$ | async).length }}
			</div>
			<div class="title">Friend Requests</div>
		</div>
	</div>
	<div class="open-projects">
		<div class="heading">Open Projects</div>
		<div class="projects-list">
			<div class="project-1 project-item">
				<img src="https://wallpapercave.com/wp/wp5252334.jpg" />
				<div class="heading">Ronitian</div>
				<div class="body">This is body for a project</div>
			</div>
			<div class="project-2 project-item">
				<img
					src="https://getwallpapers.com/wallpaper/full/a/5/a/544882.jpg"
				/>
				<div class="heading">Marianity</div>
				<div class="body">This is body for aproject</div>
			</div>
			<div class="project-3 project-item">
				<img
					src="https://getwallpapers.com/wallpaper/full/a/0/6/545242.jpg"
				/>
				<div class="heading">Kycilius</div>
				<div class="body">This is body for a project</div>
			</div>
		</div>
	</div>
	<div class="inbox">
		<div class="heading">Messages</div>
		<div class="loading">
			<ngx-spinner
				[fullScreen]="false"
				bdColor="rgba(255,255,255,0.6)"
				type="square-loader"
				color="white"
			>
				<h3>Loading...</h3>
			</ngx-spinner>
		</div>
		<div
			class="message-item"
			*ngFor="let message of messages"
			routerLink="/messages/{{ message.senderUsername }}"
		>
			<div class="sender-dp">
				<img [src]="message.senderPhotoUrl" alt="" />
			</div>
			<div class="sender">@{{ message?.senderUsername }}</div>
			<div class="message">{{ message?.content }}</div>
			<div class="time">{{ message?.messageSent | timeago }}</div>
			<div class="tools">
				<div class="tool-wrapper"><i class="fa fa-trash"></i></div>
			</div>
		</div>
		<!-- <div class="message-2 message-item">
			<div class="sender-dp">
				<img src="https://wallpapercave.com/wp/wp5252334.jpg" alt="" />
			</div>
			<div class="sender">Pratik Silwal</div>
			<div class="message">This is a simple message!</div>
			<div class="time">1:59</div>
			<div class="tools">
				<i class="fa fa-trash"></i>
			</div>
		</div> -->
	</div>
</div>
