<div class="dashboard-stats">
	<div class="heading">Dashboard</div>
	<div class="stats-wrapper">
		<div class="friends stats-item">
			<div class="number">400</div>
			<div class="title">Friends</div>
		</div>
		<div class="followers stats-item">
			<div class="number">999</div>
			<div class="title">Followers</div>
		</div>
		<div class="projects stats-item">
			<div class="number">12</div>
			<div class="title">Projects</div>
		</div>
		<div class="messages stats-item">
			<div class="number">100+</div>
			<div class="title">New Messages</div>
		</div>
		<div class="hours stats-item">
			<div class="number">400</div>
			<div class="title">Friend Requests</div>
		</div>
	</div>
	<div class="open-projects">
		<div class="heading">Open Projects</div>
		<div class="projects-list">
			<div class="project-1 project-item"></div>
			<div class="project-2 project-item"></div>
			<div class="project-3 project-item"></div>
		</div>
	</div>
	<div class="inbox">
		<div class="heading">Messages</div>
		<div class="message-1 message-item"></div>
		<div class="message-2 message-item"></div>
		<div class="message-3 message-item"></div>
	</div>
</div>
