<div class="users-list-wrap">
	<div class="tab-heading"><h3>Discover people around you!</h3></div>
	<div class="users-list">
		<div class="user-card">
			<div class="user-img">
				<img src="./assets/profile.png" alt="" />
				<div class="options">
					<i class="fa fa-2x fa-plus-circle"></i>
				</div>
			</div>
			<div class="card-content">
				<h6 class="user-name">Daniel Smith</h6>
			</div>
		</div>
		<div class="user-card">
			<div class="user-img">
				<img src="./assets/profile.png" alt="" />
				<div class="options">
					<i class="fa fa-2x fa-plus-circle"></i>
				</div>
			</div>
			<div class="card-content">
				<h6 class="user-name">Daniel Smith</h6>
			</div>
		</div>
		<div class="user-card">
			<div class="user-img">
				<img src="./assets/profile.png" alt="" />
				<div class="options">
					<i class="fa fa-2x fa-plus-circle"></i>
				</div>
			</div>
			<div class="card-content">
				<h6 class="user-name">Daniel Smith</h6>
			</div>
		</div>
		<div class="user-card">
			<div class="user-img">
				<img src="./assets/profile.png" alt="" />
				<div class="options">
					<i class="fa fa-2x fa-plus-circle"></i>
				</div>
			</div>
			<div class="card-content">
				<h6 class="user-name">Daniel Smith</h6>
			</div>
		</div>
		<div class="user-card">
			<div class="user-img">
				<img src="./assets/profile.png" alt="" />
				<div class="options">
					<i class="fa fa-2x fa-plus-circle"></i>
				</div>
			</div>
			<div class="card-content">
				<h6 class="user-name">Daniel Smith</h6>
			</div>
		</div>
		<div class="user-card">
			<div class="user-img">
				<img src="./assets/profile.png" alt="" />
				<div class="options">
					<i class="fa fa-2x fa-plus-circle"></i>
				</div>
			</div>
			<div class="card-content">
				<h6 class="user-name">Daniel Smith</h6>
			</div>
		</div>
		<div class="user-card">
			<div class="user-img">
				<img src="./assets/profile.png" alt="" />
				<div class="options">
					<i class="fa fa-2x fa-plus-circle"></i>
				</div>
			</div>
			<div class="card-content">
				<h6 class="user-name">Daniel Smith</h6>
			</div>
		</div>
		<div class="user-card">
			<div class="user-img">
				<img src="./assets/profile.png" alt="" />
				<div class="options">
					<i class="fa fa-2x fa-plus-circle"></i>
				</div>
			</div>
			<div class="card-content">
				<h6 class="user-name">Daniel Smith</h6>
			</div>
		</div>
	</div>
</div>
