<div class="content">
	<div class="loading">
		<ngx-spinner
			[fullScreen]="false"
			bdColor="rgba(255,255,255,0.6)"
			type="square-jelly-box"
		>
			<h3>Wait a f*cking second</h3>
		</ngx-spinner>
	</div>
	<div class="chat-title">
		<div class="msg-user-dp">
			<img src="./assets/profileboy.png" alt="" />
		</div>
		<div class="heading">{{ chatMember?.name }}</div>
		<div class="seen-status">3 hours ago</div>
	</div>
	<div class="messages" id="chat">
		<div
			*ngFor="let message of messages"
			class="message"
			[ngClass]="
				message.senderUsername == chatMember?.username
					? 'receiver-msg'
					: 'sender-msg'
			"
		>
			{{ message.content }}
		</div>
		<!-- <div class="message parker">Hey, man! What's up, Mr Stark? 👋</div>
		<div class="message stark">Kid, where'd you come from?</div>
		<div class="message parker">Field trip! 🤣</div>
		<div class="message parker">
			Uh, what is this guy's problem, Mr. Stark? 🤔
		</div>
		<div class="message stark">
			Uh, he's from space, he came here to steal a necklace from a wizard.
		</div> -->
	</div>
	<div class="input">
		<i class="fa fa-camera"></i><i class="fa fa-smile-o"></i
		><input placeholder="Type your message here!" type="text" /><i
			class="fa fa-microphone"
		></i>
	</div>
</div>
