<main>
	<section class="glass">
		<div class="dashboard">
			<div class="user">
				<img src="./assets/profile.png" alt="" />
				<h3>Teresa Nightingale</h3>
				<p>Pro Member</p>
			</div>
			<div class="cards">
				<div class="card">
					<img src="" alt="" />
					<div class="card-info">
						<h3>This is a test Group</h3>
						<p>Card Subtitle</p>
					</div>
				</div>
				<div class="card">
					<img src="" alt="" />
					<div class="card-info">
						<h3>This is a test Group</h3>
						<p>Card Subtitle</p>
					</div>
				</div>
			</div>
			<div class="pro">
				<h2>Download Desktop Client</h2>
			</div>
		</div>
		<div class="games">
			<div class="status">
				<h1>Active Games</h1>
				<input type="text" />
			</div>
		</div>
	</section>
</main>
<div class="circle1"></div>
<div class="circle2"></div>
