.circle1,
.circle2 {
	background: white;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0.3)
	);
	height: 10rem;
	width: 10rem;
	position: absolute;
	z-index: 2;
	border-radius: 50%;
}

.circle1 {
	top: 3%;
	right: 2%;
}

.circle2 {
	bottom: 3%;
	left: 2%;
}
.main {
	position: relative;
}
