h6 {
	margin: 0 !important;
}
.request {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	min-width: 0;
	padding: 0.4rem;
	border-radius: 0.25rem 0 0 0.25rem;
	transition: 0.3s ease-in;
	margin-bottom: 0.2rem;
	cursor: pointer;
	position: relative;
}
.side-leaf {
	position: absolute;
	height: 100%;
	width: 5%;
	background: #7371fc;
	right: 0;
	transform: skewY(20deg);
	bottom: 5%;
	opacity: 0;
}

@media screen and (max-width: 1000px) {
	.side-leaf {
		display: none;
	}
}
.request:hover {
	background-color: rgba(43, 142, 255, 0.7);
	transform: translateX(5%);
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
}
.request.active {
	background-color: #7371fc;
	transform: translateX(5%);
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
}
.request.active .side-leaf {
	opacity: 1;
}
.request-content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.req-dp > img {
	height: 50px;
	transition: 0.3s ease-in;
}

.req-dp {
	flex: 1;
	cursor: pointer;
	transition: 0.3s ease-in;
	overflow: hidden;
}

.req-dp:hover > img {
	transform: scale(1.1);
}

.req-icons {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.req-accept,
.req-deny {
	padding: 0 0.6rem;
	border-radius: 10%;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	background: white;
	transition: 0.3s ease-in;
	cursor: pointer;
}
.req-info {
	flex: 3;
	flex-wrap: nowrap;
	display: flex;
	flex-direction: column;
	min-width: 0;
	align-items: flex-start;
	padding: 1rem;
}
.req-info > span {
	white-space: nowrap;
}

.req-status-info {
	color: gray;
	line-height: 1.2em;
	font-size: 0.8rem;
}
.request:hover .req-status-info,
.request.active .req-status-info {
	color: white;
}
.req-accept {
	color: rgb(0, 220, 0);
}
.req-deny {
	color: red;
}

.icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.2rem;
	z-index: 1;
}

.req-deny:hover {
	color: white;
	background: red;
}

.req-accept:hover {
	color: white;
	background: #7bf1a8;
}

.request:hover .req-name,
.request.active .req-name {
	color: white;
}
@media screen and (max-width: 1000px) {
	.req-info {
		display: none;
	}
	.req-icons {
	}
	.request:hover {
		background-color: rgba(43, 142, 255, 0.7);
		transform: translateX(0%);
		box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
	}
	.request.active {
		background-color: #7371fc;
		transform: translateX(0%);
		box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
	}
	.request {
		border-radius: 0.25rem;
	}
	.icon-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
	}
	.req-deny {
		padding: 0.2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 10px;
		width: 10px;
		background-color: rgba(0, 0, 0, 0);
		transition: 0.3s ease-in;
		cursor: pointer;
	}
	.icon-wrapper i {
		font-size: 0.8rem;
	}
	.req-deny:hover {
		background: none;
		color: red;
		transform: scale(1.5);
	}
	.req-accept {
		display: none;
	}
	.req-icons {
		position: absolute;
		top: 0;
		right: 0;
	}
}
