<div class="request" (click)="requestClick()" [class.active]="isActive">
	<div class="side-leaf"></div>
	<div class="req-dp-wrapper">
		<div class="req-dp">
			<img src="./assets/profileboy.png" alt="" />
		</div>
	</div>
	<div class="req-info">
		<h6 class="req-name">Daniel Smith</h6>
		<span class="req-status-info">A Tech engineer</span>
	</div>
	<div class="req-icons">
		<div class="icon-wrapper">
			<div class="req-accept">
				<i class="fa fa-lg fa-check"></i>
			</div>
		</div>
		<div class="icon-wrapper">
			<div class="req-deny">
				<i class="fa fa-lg fa-times"></i>
			</div>
		</div>
	</div>
</div>
<!-- <div class="request">
	<div class="req-dp-wrapper">
		<div class="req-dp">
			<img src="./assets/profileboy.png" alt="" />
		</div>
	</div>
	<div class="req-info">
		<h6 class="req-name">Daniel Smith</h6>
		<span class="req-status-info">A Tech engineer</span>
	</div>
	<div class="req-icons">
		<div class="icon-wrapper">
			<div class="req-accept">
				<i class="fa fa-lg fa-check"></i>
			</div>
		</div>
		<div class="icon-wrapper">
			<div class="req-deny">
				<i class="fa fa-lg fa-times"></i>
			</div>
		</div>
	</div>
</div>
<div class="request">
	<div class="req-dp-wrapper">
		<div class="req-dp">
			<img src="./assets/profileboy.png" alt="" />
		</div>
	</div>
	<div class="req-info">
		<h6 class="req-name">Daniel Smith</h6>
		<span class="req-status-info">A Tech engineer</span>
	</div>
	<div class="req-icons">
		<div class="icon-wrapper">
			<div class="req-accept">
				<i class="fa fa-lg fa-check"></i>
			</div>
		</div>
		<div class="icon-wrapper">
			<div class="req-deny">
				<i class="fa fa-lg fa-times"></i>
			</div>
		</div>
	</div>
</div>
<div class="request">
	<div class="req-dp-wrapper">
		<div class="req-dp">
			<img src="./assets/profileboy.png" alt="" />
		</div>
	</div>
	<div class="req-info">
		<h6 class="req-name">Daniel Smith</h6>
		<span class="req-status-info">A Tech engineer</span>
	</div>
	<div class="req-icons">
		<div class="icon-wrapper">
			<div class="req-accept">
				<i class="fa fa-lg fa-check"></i>
			</div>
		</div>
		<div class="icon-wrapper">
			<div class="req-deny">
				<i class="fa fa-lg fa-times"></i>
			</div>
		</div>
	</div>
</div> -->
