button {
	background: white;
}
.glass {
	background: white;
	min-height: 90vh;
	width: 90vw;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	border-radius: 2rem;
	z-index: 3;
	backdrop-filter: blur(2rem);
	display: flex;
	position: relative;
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
	flex-direction: column;
	overflow: hidden;
}

.intro {
}
.profile-body {
	flex: 3;
	background-color: #f6f6f6;
	display: flex;
	position: relative;
}
.cover-banner {
	height: 400px;
	position: relative;
}
.cover-banner > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.intro-details {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 150px;
	background: white;
	display: flex;
}
.profile-img-section {
	flex: 1;
	position: relative;
}
.user-info-section {
	flex: 3;
	padding: 1.25rem 8rem 1.25rem 4rem;
}

.profile-pic-wrapper {
	border-radius: 50%;
	position: absolute;
	overflow: hidden;
	box-shadow: 6px 6px 20px rgba(46, 88, 255, 0.5);
	top: 15%;
	transform: translateY(-50%);
	right: 0;
	background: white;
	border: 6px solid white; /*#2e58ff;*/
}
.profile-pic-wrapper > img {
	object-fit: contain;
	height: 175px;
	width: 175px;
}
.user-info-section > h5 > div {
	float: right;
}
.user-info-section > h5 {
	font-size: 1.5rem;
	font-weight: 700;
}
.profile-body > .contact {
	flex: 1;
}

.profile-body > .body {
	flex: 3;
	padding: 1.25rem 8rem 1.25rem 4rem;
}
.contact-details-wrapper {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-end;
	padding: 2rem 0;
}
.contact {
	flex: 1;
}
.contact-details-wrapper > div {
	min-width: 175px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.contact-details-wrapper > div > i {
	padding-right: 1rem;
}
.chat-btn-wrapper {
	display: flex;
	justify-content: flex-end;
}
.chat-btn {
	background: linear-gradient(to right top, #2288fa, #31f564);
	border-radius: 2rem;
	color: white;
	padding: 0.75rem;
	border: none;
	transition: 0.3s;
	background-size: 400%;
	cursor: pointer;
	background-position: right;
	min-width: 175px;
}
.chat-btn:hover {
	background-position: top;
}

.user-socials {
	display: flex;
	padding: 2rem 0;
}

.user-socials > div {
	padding: 0 1rem;
	cursor: pointer;
}

.user-socials > :nth-child(1) {
	padding-left: 0;
}

.user-fb i,
.user-twitter i,
.user-linkedin i {
	padding-right: 0.5rem;
	color: rgba(148, 148, 148, 1);
}

.user-fb span,
.user-twitter span,
.user-linkedin span {
	color: rgba(148, 148, 148, 0.7);
}
.options {
	border: 3px solid lightgray;
	border-radius: 50%;
	display: inline-block;
	padding: 0 0.3rem;
	cursor: pointer;
	color: lightgray;
}
.user-fb:hover i,
.user-fb:hover span {
	color: #4267b2;
}

.user-twitter:hover i,
.user-twitter:hover span {
	color: #1da1f2;
}

.user-linkedin:hover i,
.user-linkedin:hover span {
	color: #2867b2;
}
