a,
a:hover {
	text-decoration: none;
}
button {
	background: white;
}
.glass {
	background: white;
	min-height: 100vh;
	width: 100vw;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	z-index: 3;
	backdrop-filter: blur(2rem);
	display: flex;
	position: relative;
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
	flex-direction: column;
	overflow: hidden;
	max-height: 90vh;
}
.profile-body {
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	position: relative;
	width: 100%;
	overflow: auto;
}
.profile-body > .body {
	flex: 5 0 0;
}
.contact {
	flex: 2 0 0;
	padding: 1rem;
	width: 100%;
	margin: auto;
	padding-top: 100px;
}
.contact-wrapper {
	display: flex;
	margin: auto;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	border-radius: 0.75rem;
	width: 100%;
	min-height: 650px;
	box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
	position: relative;
}
.profile-pic-wrapper {
	width: 150px;
	background-color: #fff;
	height: 150px;
	margin: 0 auto;
	transform: translateY(-50%);
	overflow: hidden;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	box-shadow: 0px 5px 50px 0px #7371fc,
		0px 0px 0px 5px rgba(107, 74, 255, 0.5);
}
.profile-content {
	margin-top: -35px;
	text-align: center;
	padding: 0 20px;
	padding-bottom: 40px;
}

.profile-card-name {
	font-weight: 700;
	font-size: 1.25rem;
	color: #7371fc;
	margin-bottom: 10px;
}
.profile-card-status {
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 15px;
}

.contact-details-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.contact-field {
	display: flex;
	margin-bottom: 10px;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	font-weight: 600;
}

.contact-field > i {
	font-size: 1.5rem;
	margin-right: 15px;
}
.profile-info-count {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 25px;
}
.count-item {
	padding: 10px 20px;
	min-width: 120px;
}
.count-item-title {
	font-weight: 700;
	font-size: 1.5rem;
	color: #0078d7;
}
.count-item-number {
	font-weight: 500;
}
.profile-socials {
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.profile-card-social-btn {
}
.profile-card-social-btn .icon-font {
	display: inline-flex;
}
.profile-card-social-btn {
	display: inline-flex;
	width: 60px;
	height: 60px;
	margin: 15px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: #7371fc;
	box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
	position: relative;
	font-size: 1.5rem;
	flex-shrink: 0;
}

@media screen and (min-width: 768px) {
	.profile-card-social-btn:hover {
		transform: scale(1.2);
	}
}

.profile-card-social-btn.facebook {
	background: linear-gradient(45deg, #3b5998, #0078d7);
	box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
}
.profile-card-social-btn.twitter {
	background: linear-gradient(45deg, #1da1f2, #0e71c8);
	box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
}
.profile-card-social-btn.instagram {
	background: linear-gradient(
		45deg,
		#405de6,
		#5851db,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d
	);
	box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
}
.profile-card-social-btn.github {
	background: linear-gradient(45deg, #333333, #626b73);
	box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
}
.chat-btn-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
	.chat-btn-wrapper {
		flex-wrap: wrap;
	}
}

.chat-btn {
	border-radius: 0.25rem;
	cursor: pointer;
	color: #fff;
	padding: 15px 30px;
	border: none;
	font-size: 1rem;
	backface-visibility: hidden;
	min-width: 210px;
	margin: 15px 25px;
}

.chat-btn > i {
	margin-right: 10px;
	font-size: 1.2rem;
}
.chat-btn:hover {
	transform: translateY(-5px);
}
.message {
	background: linear-gradient(45deg, #31f564, #2288fa);
	box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
}

.message:hover {
	box-shadow: 0px 4px 30px rgba(49, 245, 100, 0.3);
}

.chat {
	background: linear-gradient(45deg, #a594f9, #2288fa);
	box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
}

.chat:hover {
	box-shadow: 0px 7px 30px rgba(165, 148, 249, 0.7);
}
/*Special*/
.timeline {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.timeline:before {
	content: "";
	position: absolute;
	top: 5px;
	bottom: 5px;
	width: 5px;
	background: #7371fc;
	left: 12%;
	margin-left: -2.5px;
}

.timeline > li {
	position: relative;
	min-height: 50px;
	padding: 20px 0;
}

.timeline .timeline-time {
	position: absolute;
	left: 0;
	width: 10%;
	text-align: right;
	top: 30px;
}

.timeline .timeline-time .date,
.timeline .timeline-time .time {
	display: block;
	font-weight: 600;
}

.timeline .timeline-time .date {
	line-height: 16px;
	font-size: 12px;
}

.timeline .timeline-time .time {
	line-height: 24px;
	font-size: 20px;
	color: #242a30;
}

.timeline .timeline-icon {
	left: 7%;
	position: absolute;
	width: 10%;
	text-align: center;
	top: 40px;
}

.timeline .timeline-icon a {
	text-decoration: none;
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 20px;
	background: #31f564;
	line-height: 10px;
	color: #fff;
	font-size: 14px;
	border: 5px solid #5851db;
	transition: border-color 0.2s linear;
}

.timeline .timeline-body {
	margin-left: 15%;
	margin-right: 17%;
	background: #fff;
	position: relative;
	padding: 20px 25px;
	border-radius: 6px;
}

.timeline .timeline-body:before {
	content: "";
	display: block;
	position: absolute;
	border: 10px solid transparent;
	border-right-color: #fff;
	left: -20px;
	top: 20px;
}

.timeline .timeline-body > div + div {
	margin-top: 15px;
}

.timeline .timeline-body > div + div:last-child {
	margin-bottom: -20px;
	padding-bottom: 20px;
	border-radius: 0 0 6px 6px;
}

.timeline-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	line-height: 30px;
}

.timeline-header .userimage {
	float: left;
	width: 34px;
	height: 34px;
	border-radius: 40px;
	overflow: hidden;
	margin: -2px 10px -2px 0;
}

.timeline-header .username {
	font-size: 16px;
	font-weight: 600;
}

.timeline-header .username,
.timeline-header .username a {
	color: #2d353c;
}

.timeline img {
	max-width: 100%;
	display: block;
}

.timeline-content {
	letter-spacing: 0.25px;
	line-height: 18px;
	font-size: 13px;
}

.timeline-content:after,
.timeline-content:before {
	content: "";
	display: table;
	clear: both;
}

.timeline-title {
	margin-top: 0;
}

.timeline-footer {
	background: #fff;
	border-top: 1px solid #e2e7ec;
	padding-top: 15px;
}

.timeline-footer a:not(.btn) {
	color: #575d63;
}

.timeline-footer a:not(.btn):focus,
.timeline-footer a:not(.btn):hover {
	color: #2d353c;
}

.timeline-likes {
	color: #6d767f;
	font-weight: 600;
	font-size: 12px;
}

.timeline-likes .stats-right {
	float: right;
}

.timeline-likes .stats-total {
	display: inline-block;
	line-height: 20px;
}

.timeline-likes .stats-icon {
	float: left;
	margin-right: 5px;
	font-size: 9px;
}

.timeline-likes .stats-icon + .stats-icon {
	margin-left: -2px;
}

.timeline-likes .stats-text {
	line-height: 20px;
}

.timeline-likes .stats-text + .stats-text {
	margin-left: 15px;
}

.timeline-comment-box {
	background: #fff;
	margin-left: -25px;
	margin-right: -25px;
	padding: 20px 25px;
}

.timeline-comment-box .user {
	float: left;
	width: 34px;
	height: 34px;
	overflow: hidden;
	border-radius: 30px;
}

.timeline-comment-box .user img {
	max-width: 100%;
	max-height: 100%;
}

.timeline-comment-box .user + .input {
	margin-left: 44px;
}

.lead {
	margin-bottom: 20px;
	font-size: 21px;
	font-weight: 300;
	line-height: 1.4;
}

.text-danger,
.text-red {
	color: #ff5b57 !important;
}

.back-btn {
	position: absolute;
	border-radius: 50%;
	padding: 2rem;
	z-index: 5;
	color: white;
	cursor: pointer;
}
.back-btn:hover {
	transform: translateX(-10%);
}
