<div class="glass">
	<!-- <div class="intro">
	</div> -->
	<!-- <div class="profile-body" (scroll)="scrollHandler($event)"> -->
	<div class="profile-body">
		<div class="back-btn" (click)="routeBack()">
			<i class="fa fa-arrow-left"></i>
		</div>
		<div class="contact">
			<div class="contact-wrapper">
				<div class="profile-pic-wrapper">
					<img
						[src]="
							this.member?.photoUrl ||
							'../../assets/profilegirl.png'
						"
						alt=""
					/>
				</div>
				<div class="profile-content">
					<div class="profile-card-name">{{ this.member?.name }}</div>
					<div class="profile-card-status">
						{{ this.member?.status }}
					</div>
				</div>

				<div class="contact-details-wrapper">
					<div
						*ngIf="this.member?.phoneNumber"
						class="phone-number contact-field"
					>
						<i class="fa fa-phone"></i>
						<span>{{ this.member?.phoneNumber }}</span>
					</div>
					<div *ngIf="this.member?.email" class="email contact-field">
						<i class="fa fa-mail-forward"></i>
						<span>{{ this.member?.email }}</span>
					</div>
				</div>
				<div class="profile-info-count">
					<div class="count-item">
						<div class="count-item-title">499</div>
						<div class="count-item-number">Friends</div>
					</div>
					<div class="count-item">
						<div class="count-item-title">23</div>
						<div class="count-item-number">Followers</div>
					</div>
					<div class="count-item">
						<div class="count-item-title">7</div>
						<div class="count-item-number">Projects</div>
					</div>
					<div class="count-item">
						<div class="count-item-title">69</div>
						<div class="count-item-number">Updates</div>
					</div>
				</div>
				<div class="profile-socials">
					<a
						href="https://www.facebook.com/Ab30657"
						class="profile-card-social-btn facebook"
					>
						<span class="icon-font">
							<i class="fa fa-facebook"></i>
						</span>
					</a>
					<a
						href="https://twitter.com/Ab30657"
						class="profile-card-social-btn twitter"
					>
						<span class="icon-font">
							<i class="fa fa-twitter"></i>
						</span>
					</a>
					<a
						href="https://www.instagram.com/Ab30657"
						class="profile-card-social-btn instagram"
					>
						<span class="icon-font">
							<i class="fa fa-instagram"></i>
						</span>
					</a>
					<a
						href="https://github.com/Ab30657"
						class="profile-card-social-btn github"
					>
						<span class="icon-font">
							<i class="fa fa-github"></i>
						</span>
					</a>
				</div>
				<div class="chat-btn-wrapper">
					<button class="chat-btn message" (click)="goToMessages()">
						<i class="fa fa-wechat"></i> Chat with me!
					</button>
					<button class="chat-btn chat">
						<i class="fa fa-mail-forward"></i>Send a Message
					</button>
				</div>
			</div>
		</div>
		<div class="body">
			<ul class="timeline">
				<li>
					<div class="title">
						<div class="title-content">Timeline</div>
					</div>
				</li>
				<li *ngFor="let post of guffs">
					<!-- begin timeline-time -->
					<app-timeline-event
						[member]="this.member"
						[post]="post"
					></app-timeline-event>
					<!-- end timeline-body -->
				</li>
				<li>
					<!-- begin timeline-icon -->
					<div class="timeline-icon">
						<a href="">&nbsp;</a>
					</div>
					<!-- end timeline-icon -->
					<!-- begin timeline-body -->
					<div class="timeline-body">Loading...</div>
					<!-- begin timeline-body -->
				</li>
			</ul>
		</div>
	</div>
</div>
