<nav class="nav">
	<div class="dashboard-navbar">
		<a class="nav-logo">
			<i class="fa fa-2x fa-joomla"></i>
			<span class="nav-logo-name">Connectify</span>
		</a>

		<div class="nav-list">
			<a class="nav-link">
				<i class="fa fa-th-large nav-icon"></i>
				<span class="nav-name">Dashboard</span>
			</a>
			<a class="nav-link">
				<i class="fa fa-users nav-icon"></i>
				<span class="nav-name" routerLink="/discover">Discover</span>
			</a>
			<a class="nav-link">
				<i class="fa fa-envelope nav-icon"></i>
				<span class="nav-name" routerLink="/messages">Messages</span>
			</a>

			<a class="nav-link">
				<i class="fa fa-cog nav-icon"></i>
				<span class="nav-name">Settings</span>
			</a>
		</div>
	</div>
</nav>
