<nav class="nav">
	<div class="dashboard-navbar">
		<a class="nav-logo">
			<img
				class="rounded-circle user-dp"
				[src]="
					this.user.photoUrl ||
					(this.user.gender == 'Female'
						? './assets/profilegirl.png'
						: './assets/profileboy.png')
				"
			/>
			<span class="nav-logo-name">Connectify</span>
		</a>

		<div class="nav-list">
			<a
				class="nav-link"
				routerLink="/dashboard"
				routerLinkActive="active"
			>
				<i class="fa fa-th-large nav-icon"></i>
				<span class="nav-name">Dashboard</span>
			</a>
			<a
				class="nav-link"
				routerLink="/discover"
				routerLinkActive="active"
			>
				<i class="fa fa-users nav-icon"></i>
				<span class="nav-name">Discover</span>
			</a>
			<a
				class="nav-link"
				routerLink="/messages"
				routerLinkActive="active"
			>
				<div class="icon-wrapper">
					<i class="fa fa-envelope nav-icon"></i>
					<span *ngIf="unreadMessages" class="dot"></span>
				</div>
				<span class="nav-name">Messages</span>
			</a>

			<a
				class="nav-link"
				routerLink="/settings"
				routerLinkActive="active"
			>
				<i class="fa fa-cog nav-icon"></i>
				<span class="nav-name">Account Settings</span>
			</a>
			<a class="nav-link" (click)="logout()">
				<i class="fa fa-power-off nav-icon"></i>
				<span class="nav-name">Log out</span>
			</a>
		</div>
	</div>
</nav>
