<div class="timeline-time">
	<span class="date">{{ (post?.DatePosted | date) || "today" }}</span>
	<span class="time">04:20</span>
</div>
<!-- end timeline-time -->
<!-- begin timeline-icon -->
<div class="timeline-icon">
	<a href="">&nbsp;</a>
</div>
<!-- end timeline-icon -->
<!-- begin timeline-body -->
<div class="timeline-body">
	<div class="timeline-header">
		<span class="userimage"
			><img
				[src]="
					member?.photoUrl ||
					(member?.gender == 'Female'
						? './assets/profilegirl.png'
						: './assets/profileboy.png')
				"
				alt=""
		/></span>
		<span class="username"
			><a href="">{{ this?.member.name }}</a> <small></small
		></span>
	</div>
	<div class="timeline-content">
		<p>
			{{ post?.guffContent }}
		</p>
	</div>
	<div class="timeline-likes">
		<div class="stats-right">
			<span class="stats-text">{{ post?.Shares || 0 }} Shares</span>
			<span class="stats-text">{{ post?.Comments || 0 }} Comments</span>
		</div>
		<div class="stats">
			<span class="fa-stack fa-fw stats-icon">
				<i class="fa fa-circle fa-stack-2x text-danger"></i>
				<i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
			</span>
			<span class="fa-stack fa-fw stats-icon">
				<i class="fa fa-circle fa-stack-2x text-primary"></i>
				<i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
			</span>
			<span class="stats-total">{{ post?.Likes || 0 }}</span>
		</div>
	</div>
	<div class="timeline-footer">
		<a class="m-r-15 text-inverse-lighter like-btn"
			><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a
		>
		<a
			class="m-r-15 text-inverse-lighter toggle-comment-btn"
			(click)="commentShow = !commentShow"
			><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a
		>
		<a class="m-r-15 text-inverse-lighter share-btn"
			><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a
		>
	</div>
	<div class="timeline-comment-box" [hidden]="commentShow">
		<div class="user">
			<img [src]="this.member?.photoUrl" />
		</div>
		<div class="input">
			<form action="">
				<div class="input-group">
					<input
						type="text"
						class="form-control rounded-corner"
						placeholder="Write a comment..."
					/>
					<span class="input-group-append p-l-10">
						<button
							class="comment-btn btn f-s-12 rounded-corner"
							type="button"
						>
							Comment
						</button>
					</span>
				</div>
			</form>
		</div>
	</div>
</div>
