<div class="div text-center font-weight-bold">Recent Activity</div>
<div id="timeline-content">
	<ul class="timeline">
		<li class="event">
			<h3>@pratik</h3>
			<p>Sent you a friend request</p>
		</li>

		<li class="event">
			<h3>@pratik</h3>

			<p>"I am freaking genius!" 📣</p>
			<p>
				When we say <em><strong>geniuses</strong></em> we mean it— and
				you'll should include me as well.
			</p>
		</li>
		<li class="event">
			<h3>@pratik</h3>
			<p>Sent you a friend request</p>
		</li>

		<li class="event">
			<h3>@pratik</h3>

			<p>"I am freaking genius!" 📣</p>
			<p>
				When we say <em><strong>geniuses</strong></em> we mean it— and
				you'll should include me as well.
			</p>
		</li>
		<li class="event">
			<h3>@pratik</h3>

			<p>"I am freaking genius!" 📣</p>
			<p>
				When we say <em><strong>geniuses</strong></em> we mean it— and
				you'll should include me as well.
			</p>
		</li>
		<li class="event">
			<h3>@pratik</h3>
			<p>Sent you a friend request</p>
		</li>
	</ul>
</div>
