.app-logo nav {
	width: 100%;
	height: 60%;
	display: flex;
	position: relative;
	align-self: stretch;
}

.app-logo nav .tab {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
}

.indicator {
	width: 50%;
	height: 4px;
	position: absolute;
	bottom: 0;
	background: linear-gradient(to right top, #31f564, #2288fa);
	transition: 0.3s ease;
}

.app-logo .block {
	width: 85%;
	height: 70%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	color: white;
	font-size: 1.2rem;
	letter-spacing: 4px;
}
.app-logo .tab.active .block {
	color: #4267ff;
}
.app-logo .block:hover {
	color: #4267ff;
}

.glass {
	background: white;
	min-height: 90vh;
	width: 100%;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	border-radius: 2rem;
	z-index: 3;
	backdrop-filter: blur(2rem);
	display: flex;
	position: relative;
}
.login-dashboard {
	width: 100%;
	padding: 2.5rem 3rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
	border-radius: 2rem;
	position: relative;
	overflow: hidden;
}
hr {
	border: 0;
	width: 60%;
	border-top: 2px solid var(--fourth-color);
}
.app-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex: 1;
	width: 100%;
}

.login-form {
	margin: 0 auto;
	flex: 3;
	padding: 2rem 1rem 0rem 1rem;
	display: flex;
	flex-direction: column;
	min-width: 0rem;
}

.login-control-group,
.register-control-group {
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-width: 0rem;
}

.login-control-group > h5,
.register-control-group > h5 {
	align-self: flex-start;
}

.login-control-group > input,
.register-control-group > input {
	min-width: 300px;
}
.app-logo > i {
	font-weight: bold;
	background: linear-gradient(to right top, #31f564, #2288fa);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
}

.app-logo > h2 {
	color: white;
	font-weight: 900;
	/* letter-spacing: 0.6rem; */
}

.button-group > button {
	border-radius: 2rem;
	border: none;
	color: white;
	padding: 1rem;
	width: 100%;
	transition: 0.3s;
	cursor: pointer;
	margin-bottom: 0.2rem;
}

#login-btn {
	background: linear-gradient(to right top, #2288fa, #31f564);
	border-radius: 2rem;
	color: white;
	padding: 1rem;
	border: none;
	width: 100%;
	transition: 0.3s;
	background-size: 400%;
	cursor: pointer;
	background-position: right;
}
.button-group > button > h4 {
	color: white;
}
.button-group > button > h5 {
	color: white;
	text-transform: capitalize;
}

.login-control-group > a {
	align-self: flex-end;
}

.button-group {
	padding: 1rem 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.button-group > #fb-login,
#google-login {
	padding: 1rem;
}

#login-btn:hover {
	background-position: top;
}

.login-control-group > h5 {
	color: #4267ff;
	/* letter-spacing: 0.1rem; */
}

#fb-login {
	background-color: #4267b2;
	color: white;
}

#fb-login:hover {
	background-color: #4267ff;
}

#google-login {
	background-color: #db4437;
	color: white;
}
#google-login:hover {
	background-color: #ff4437;
}

.password-div,
.reg-password-div {
	position: relative;
}

.password-icon {
	position: absolute;
	align-self: flex-end;
	padding: 0.7rem;
	color: #2288fa;
}

.password-div > input,
.reg-password-div > input {
	padding-right: 2.2rem !important;
}

.tab_reel {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
	transition: 0.5s cubic-bezier(0.18, 1.14, 0.5, 1.18);
}

.tab_panel2 {
	position: absolute;
	left: 125%;
	height: 100%;
}
.tab_reel .tab_panel1,
.tab_reel .tab_panel2 {
	width: 100%;
	padding: 10px;
}

.desc {
	width: 100%;
	padding: 10px;
}
.desc .block {
	width: 40%;
	height: 7px;
	margin-bottom: 5px;
	background: #92b4f2;
}
.desc .block:nth-child(2) {
	width: 35%;
	margin-bottom: 0px;
}
.tab1.active ~ .indicator {
	left: 0;
}

.tab2.active ~ .indicator {
	left: 50%;
}

.main-content {
	flex: 1;
	width: 100%;
	height: 100%;
}
.register-form {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.register-form h5 {
	font-size: 1.1rem;
	font-weight: 500;
	color: #4267ff;
}

.register-form .button-group {
	align-self: stretch;
}

.register-form #register-btn {
	background: linear-gradient(to right top, #2288fa, #31f564);
	border-radius: 2rem;
	color: white;
	padding: 1rem;
	border: none;
	width: 100%;
	transition: 0.3s;
	background-size: 400%;
	cursor: pointer;
	background-position: right;
}

.register-form #register-btn:hover {
	background-position: top;
}

.reg-password-div > .password-icon {
	top: 55%;
	padding: 0 0.7rem;
}
