button {
	background: white;
}
.glass {
	background: white;
	min-height: 90vh;
	width: 90vw;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	border-radius: 2rem;
	z-index: 3;
	backdrop-filter: blur(2rem);
	display: flex;
	position: relative;
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
	overflow: hidden;
}
.glass > svg {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: block;
	overflow: hidden;
	z-index: -1;
	opacity: 0.7;
}
.profile-completion-dashboard {
	width: 100%;
	padding: 2.5rem 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
	border-radius: 2rem;
	position: relative;
	overflow: hidden;
}

.profile-completion-dashboard > div {
	height: 100%;
	flex: 1;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
}
.profile-picture {
	border-right: 2px solid rgba(63, 164, 232, 0.7);
}

.verify-contact {
	border-right: 2px solid rgba(63, 164, 232, 0.7);
	padding-left: 0 !important;
}

.save-changes {
	margin-right: 0px !important;

	padding-right: 0px !important;
}
.select {
	position: relative;
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
	border-bottom: 0px;
	border-radius: 3px;
	font-size: 12px;
	box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, 0.5);
}
.select > i.toggle {
	position: absolute;
	z-index: 4;
	right: 0.7rem;
	top: 0.5rem;
	color: #ccc;
}
label {
	margin-bottom: 0 !important;
}
.select .title,
.select .placeholder {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	padding: 1em 1.5em;
	background: #2288fa;
	color: white;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	cursor: pointer;
}
.select > input {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: block;
	opacity: 0;
	cursor: pointer;
}
.select > input:checked ~ i.toggle.fa-angle-down {
	display: none;
}
.select > input:checked ~ i.toggle.fa-angle-up {
	display: block;
}
.select > input:checked ~ div.options label.option .title {
	display: none !important;
}
.select > input:not(:checked) {
	z-index: 4;
}
.select > input:not(:checked) ~ label.option > span.title {
	display: none;
}
.select > input:not(:checked) ~ i.fa.fa-angle-up {
	display: none;
}
.select > input:not(:checked) ~ i.fa.fa-angle-down {
	display: block;
}
.select > span.placeholder {
	position: relative;
	z-index: 0;
	display: inline-block;
	width: 100%;
	color: white;
	border-top: 0px;
}
.select label.option {
	display: block;
	overflow: hidden;
	z-index: 1;
	width: 100%;
	transition: all 1s ease-out;
}
.select label.option span.title {
	position: relative;
	z-index: 2;
	transition: background 0.3s ease-out;
}
.select label.option span.title i.icon {
	padding-right: 8px;
	color: #92a8d1;
}
.select label.option span.title:hover {
	color: #fff;
	background: #1d70cf;
	box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
}
.select label.option input {
	display: none;
}
.select label.option input:checked ~ span.title {
	position: absolute;
	display: block;
	z-index: 3;
	top: 0px;
	font-size: 12px;
	background: #2288fa;
	border-top: 0px;
	box-shadow: none;
	color: white;
	width: 100%;
}
.form-control-group {
	padding: 1rem 0.5rem;
}
.form-control-group > label,
.gender-wrapper > label {
	padding-bottom: 0.5rem;
	font-weight: 700;
}
.gender-wrapper {
	position: absolute;
	width: 100%;
}
.form-control-group.gender {
	position: relative;
	margin-bottom: 70px;
}

.form-control-group > p {
	opacity: 1;
	font-size: 0.8rem;
	padding: 0 0 1rem 0;
}
.two-fa-btn,
.upload-btn {
	padding: 0.8rem 1.3rem;
	border-radius: 0.2rem;
	border: 3px solid #2288fa;
	font-size: 0.8rem;
	color: #2288fa;
	cursor: pointer;
	font-weight: 700;
}
.two-fa-btn:hover,
.upload-btn:hover {
	background: #2288fa;
	color: white;
}
.phone-number > input {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	font-size: 12px;
	padding: 1em 1.5em;
	border: none;
	box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, 0.5);
}
.status-input > textarea {
	height: auto;
	font-size: 0.8rem;
	color: black;
	resize: none;
}
.phone-number {
	padding: 1rem 0;
	padding-top: 0;
}
.profile-picture > .form-control-group {
	text-align: center;
}
.img-div {
	display: flex;
	justify-content: center;
}
.img-div img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}
.img-wrapper {
	border-radius: 50%;
	border: 3px solid rgba(24, 197, 102, 0.8);
	overflow: hidden;
}
.upload-btn > i,
.save-img-btn > i {
	padding: 0 1rem;
	padding-left: 0;
	vertical-align: middle;
}
.save-img-btn {
	padding: 0.8rem 1.3rem;
	border-radius: 0.2rem;
	background: #24d68d;
	font-size: 0.8rem;
	color: white;
	cursor: pointer;
	font-weight: 700;
	border: none;
}
.save-btn-wrapper {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
}
.save-img-btn:hover {
	background: #27ae60;
	color: white;
}
.img-tools {
	display: flex;
	flex-direction: column;
	padding: 1rem 2rem;
}

.page-heading {
	position: absolute;
	top: 0;
	z-index: 10;
	padding: 0.8rem 1.5rem 0.6rem 1.5rem !important;
	background: white;
	font-weight: 700;
	border-radius: 2rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: -10px;
	height: auto !important;
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
}

.interest-wrapper {
	display: flex;
	background: #fff;
	border-radius: 0.25rem 0.25rem 0 0;
	padding: 0.75rem;
}
.interest-list {
	list-style: none;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	align-content: flex-start;
	max-height: 165px;
	overflow-y: auto;
	margin-bottom: 0 !important;
}
.interest-list > li {
	display: inline-block;
}
.interest-list > .interest-item {
	padding: 0;
	margin: 8px 4px;
	border-radius: 0.3rem;
	box-shadow: none;
	background: #2288fa;
	color: white;
	cursor: pointer;
}
.interest-item {
	position: relative;
}

.interest-item > a {
	position: absolute;
	top: 0.4rem;
	left: 10px;
}

.interest-item > div > span {
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	line-height: 1;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	padding: 0.8rem 2.5rem 0.8rem 1.3rem;
	font-size: 0.8rem;
	text-transform: uppercase;
	color: #9ecbff;
}

.interest-item i {
	font-size: 20px;
}
.interest-input-section {
	width: 100%;
	display: flex;
	left: 50%;
	height: 50px;
	border-radius: 0 0 15px 15px;
	overflow: hidden;
	z-index: 2;
	transition: all 0.2s ease-in;
}
.interest-input {
	background: white;
	color: #8f8fd6;
	width: 85%;
	border: 0;
	padding: 20px 40px;
	margin: 0;
	font-size: 0.8rem;
}
.interest-div-wrapper {
	border-radius: 0 0 15px 15px;
}
.interest-div-wrapper:focus-within {
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.animated-button {
	width: 15%;
	background-color: #9ecbff;
}
.animated-button span {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	line-height: 50px;
	text-align: center;
	height: 50px;
	transition: all 0.2s ease-in;
}
.animated-button span i {
	font-size: 20px;
	color: #2288fa;
}

.save-btn,
.delete-btn {
	width: 100%;
	padding: 0.8rem 1.3rem;
	border-radius: 0.2rem;
	border: none;
	font-size: 1rem;
	color: white;
	cursor: pointer;
	font-weight: 700;
	background: #2288fa;
	text-transform: uppercase;
}
.save-btn:hover {
	background: #1d70cf;
}
.form-control-group.save {
	justify-self: flex-end;
}

.save-changes > form {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.delete-btn {
	background: red;
	color: white;
	margin-top: 10px;
}

.delete-btn:hover {
	background: rgb(201, 0, 0);
}

.next {
	margin-top: -50px;
}
.next-button:hover {
	cursor: pointer;
}
.next-button:active {
	background: #8db4e0;
}

.button span,
.button .icon {
	display: block;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 0;
}
.button .icon {
	display: flex;
	justify-content: center;
	align-items: center;
}
.button span {
	line-height: inherit;
	font-size: 22px;
	text-transform: uppercase;
	left: 0;
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button span:after {
	/* content: "";
	background-color: #1d70cf;
	width: 2px;
	height: 70%;
	position: absolute;
	top: 15%;
	right: -1px; */
}
.button .icon {
	width: 40px;
	right: 0;
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button .icon .fa {
	font-size: 16px;
	vertical-align: middle;
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4),
		height 0.25s ease;
}
.button {
	overflow: hidden;
	display: flex;
	min-width: 100px;
}
.button .icon .fa-check {
	display: none;
}
.button.success span,
.button:hover span {
	left: -72%;
	opacity: 0;
}
.button.success .icon,
.button:hover .icon {
	width: 100%;
}
.button.success .icon .fa,
.button:hover .icon .fa {
	font-size: 20px;
}
.button.success {
	background-color: #27ae60;
}
.button.success .icon .fa-remove {
	display: none;
}
.button.success .icon .fa-check {
	display: inline-block;
}
.button:hover {
	opacity: 0.9;
}
.button:hover .icon .fa-remove {
}
.button:active {
	opacity: 1;
}
li > .deleted {
	display: none;
}

.gallery-row {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
	flex-wrap: wrap;
	max-width: 400px;
}
.gallery-row-wrapper {
	position: relative;
}
.parent {
	position: relative;
	width: 109px;
	height: 109px;
	margin: 0 auto;
}
#gallery-form {
	height: 100%;
}

.gallery {
	background-color: rgba(40, 79, 220, 0.5);
	border-radius: 1rem;
	padding: 1rem;
}

.gallery-link {
	height: 109px;
	width: 109px;
	background: #2288fa;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	cursor: pointer;
	color: white;
	margin: 0.25rem;
}
.gallery-link > span {
	font-size: 0.8rem;
	letter-spacing: 1px;
}
.gallery-link:hover {
	background: #1d70cf;
	flex: 1 0 auto;
}
.cropper-wrapper {
	max-height: 80vh;
	max-width: 50vw;
	overflow: scroll;
}
