<div class="glass">
	<ngx-spinner
		bdColor="rgba(255,255,255,0.7)"
		size="large"
		color="#fff"
		type="square-loader"
	>
		Configuring your profile... Hot Damn!
	</ngx-spinner>
	<div class="page-heading">Complete Your Profile</div>
	<form
		id="registerCompleteForm"
		[formGroup]="registerCompleteForm"
		#completeRegister
		class="complete-register-form"
		autocomplete="off"
		(ngSubmit)="SaveChanges()"
	>
		<div class="profile-completion-dashboard">
			<div class="dboard-col-1">
				<div class="form-control-group gender">
					<div class="gender-wrapper">
						<label for="gender">GENDER</label>
						<div class="select animated zoomIn">
							<!-- You can toggle select (disabled) -->
							<input type="radio" name="gender" />
							<i class="toggle fa fa-2x fa-angle-down"></i>
							<i class="toggle fa fa-2x fa-angle-up"></i>
							<span class="placeholder">Choose...</span>
							<label
								*ngFor="let gender of genders"
								class="option"
							>
								<input
									type="radio"
									name="gender"
									[value]="gender"
									formControlName="gender"
								/>
								<span class="title animated fadeIn">
									{{ gender }}
								</span>
							</label>
						</div>
					</div>
				</div>
				<div class="form-control-group two-factor">
					<label for="">TWO-FACTOR AUTHENICATION</label>
					<p>
						Protect your account with an extra layer of security.
						Once configured, you'll be required to enter both your
						password and an authentication code sent to your email.
					</p>
					<button
						type="button"
						class="two-fa-btn enable"
						*ngIf="!member?.emailConfirmed"
						(click)="sendEmail(); triggerModal(twofa)"
					>
						Enable Email Authentication
					</button>
					<button
						type="button"
						class="two-fa-btn disable"
						*ngIf="member?.emailConfirmed"
						(click)="removeEmailAuth()"
					>
						Remove Email Authentication
					</button>
					<ng-template #twofa let-modal>
						<div class="modal-header">
							<h4 class="modal-title" id="modal-basic-title">
								Enable Email Authentication
							</h4>
							<button
								type="button"
								class="close text-danger"
								aria-label="Close"
								(click)="modal.dismiss('Cross click')"
							>
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<p>
								An email has been sent to your personal email
								address. Enter the code here to complete your
								email authentication.
							</p>
							<br />
							<input #emailCode class="form-control w-100" />
						</div>
						<div class="modal-footer">
							<button
								type="button"
								class="btn text-success btn-success"
								(click)="
									checkEmailVerificationCode(emailCode.value)
								"
							>
								Verify
							</button>
							<button
								type="button"
								class="btn text-danger btn-danger"
								(click)="modal.close('Save click')"
							>
								Close
							</button>
						</div>
					</ng-template>
				</div>
				<div class="form-control-group sms-auth">
					<label for="">Phone Number</label>
					<!-- <p>
						Add your phone as backup 2FA method in case you lose
						your authentication app.
					</p> -->
					<div class="phone-number">
						<input
							type="text"
							class="form-control"
							formControlName="phoneNumber"
						/>
					</div>
					<!-- <button
						type="button"
						class="sms-btn"
						*ngIf="!member?.phoneNumberConfirmed"
						(click)="sendSms(); triggerModal(smsauth)"
					>
						Enable SMS Authentication
					</button>
					<button
						type="button"
						class="two-fa-btn disable"
						*ngIf="member?.phoneNumberConfirmed"
					>
						Remove SMS Authentication
					</button>
					<ng-template #smsauth let-modal>
						<div class="modal-header">
							<h4 class="modal-title" id="modal-basic-title">
								Enable SMS Authentication
							</h4>
							<button
								type="button"
								class="close text-danger"
								aria-label="Close"
								(click)="modal.dismiss('Cross click')"
							>
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<p>Enter the OTP sent to your mobile phone.</p>
							<br />
							<input class="form-control w-100" #smsCode />
						</div>
						<div class="modal-footer">
							<button
								type="button"
								class="btn text-danger btn-success"
								(click)="verifySMS(smsCode.value)"
							>
								Verify
							</button>
							<button
								type="button"
								class="btn text-danger btn-danger"
								(click)="modal.close('Save click')"
							>
								Close
							</button>
						</div>
					</ng-template> -->
				</div>
			</div>
			<div class="form-control-group dboard-col-2">
				<label for="profile-dp">PROFILE PICTURE</label>
				<div class="img-div">
					<div class="img-wrapper">
						<img
							[src]="
								savedImage ||
								(registerCompleteForm.controls['gender']
									.value == 'Male'
									? './assets/profileboy.png'
									: './assets/profilegirl.png')
							"
							alt=""
						/>
					</div>
				</div>
				<div class="img-tools">
					<app-file-upload
						(img)="onImageChanged($event, photoEditor)"
					></app-file-upload>
					<button
						type="button"
						class="upload-btn remove"
						*ngIf="member?.photoUrl"
						(click)="removeImage()"
					>
						<i class="fa fa-lg fa-trash"></i>Delete Image
					</button>
					<ng-template #photoEditor let-modal>
						<ngx-spinner
							bdColor="rgba(255,255,255)"
							size="large"
							color="#fff"
							type="square-loader"
						>
							We're trying to reach your photo, we've tiny
							hands</ngx-spinner
						>
						<div class="modal-header">
							<h4 class="modal-title" id="modal-basic-title">
								Choose the part of the image you want as display
								picture
							</h4>
							<button
								type="button"
								class="close text-danger"
								aria-label="Close"
								(click)="modal.dismiss('Cross click')"
							>
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="cropper-wrapper">
								<image-cropper
									[imageChangedEvent]="imageChangedEvent"
									[maintainAspectRatio]="true"
									[aspectRatio]="1 / 1"
									[resizeToWidth]="512"
									format="jpg"
									(imageCropped)="imageCropped($event)"
									(imageLoaded)="imageLoaded($event)"
									(cropperReady)="cropperReady()"
									(loadImageFailed)="loadImageFailed()"
									[cropperMinHeight]="500"
									[roundCropper]="true"
								></image-cropper>
							</div>
						</div>
						<div class="modal-footer">
							<div class="save-btn-wrapper">
								<button
									type="button"
									class="save-img-btn"
									(click)="intializeUpload()"
								>
									<i class="fa fa-lg fa-save"></i>Save as
									Profile Picture
								</button>
							</div>
						</div>
					</ng-template>
				</div>

				<div class="gallery">
					<label for="" class="font-weight-bold">Gallery</label>
					<div class="gallery-inside">
						<ng-container
							*ngFor="let a of ImageList$ | async | slice"
						>
							<app-gallery-image
								[photo]="a"
								(OldPhoto)="SetOldPhoto($event)"
							></app-gallery-image>
						</ng-container>
					</div>
				</div>
			</div>
			<div class="dboard-col-3">
				<div class="form-control-group">
					<label for="status">Status</label>
					<div class="status-input">
						<textarea
							wrap="hard"
							maxlength="75"
							class="form-control"
							formControlName="status"
						>
						</textarea>
					</div>
				</div>
				<div class="form-control-group interest-form">
					<label for="interests">Interests</label>
					<div class="interest-div-wrapper">
						<div
							class="interest-wrapper"
							*ngIf="interestList"
							[style.padding]="
								interestList.length === 0 ? '0' : '0.75rem'
							"
						>
							<ul class="interest-list">
								<li
									*ngFor="
										let interest of interestList
											.slice()
											.reverse()
									"
									class="interest-item"
								>
									<div class="button">
										<span>{{ interest }}</span>
										<div
											class="icon"
											(click)="removeInterest(interest)"
										>
											<i class="fa fa-remove"></i>
											<i class="fa fa-check"></i>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="interest-input-section">
							<input
								[(ngModel)]="interest"
								class="interest-input"
								type="text"
								placeholder="ADD YOUR INTERESTS HERE"
								autocomplete="off"
								[ngModelOptions]="{ standalone: true }"
								(keyup.enter)="addInterest()"
								(keyup.space)="addInterest()"
							/>
							<div class="animated-button">
								<span
									class="icon-paper-plane"
									[ngClass]="interest ? 'next' : ''"
									><i class="fa fa-trophy"></i></span
								><span
									class="next-button add-up"
									(click)="addInterest()"
									><i class="fa fa-arrow-up"></i
								></span>
							</div>
						</div>
					</div>
				</div>
				<div class="form-control-group save">
					<button form="registerCompleteForm" class="save-btn">
						<span class="submit">Save Changes</span>
					</button>
					<button class="delete-btn">
						<span class="" routerLink="/discover"
							>Proceed Anyways</span
						>
					</button>
				</div>
			</div>
			<!-- {{ this.registerCompleteForm.value | json }} -->
		</div>
	</form>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
		<path
			fill="#2288fa"
			fill-opacity="1"
			d="M0,256L80,234.7C160,213,320,171,480,170.7C640,171,800,213,960,240C1120,267,1280,277,1360,282.7L1440,288L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
		></path>
	</svg>
	<!-- {{ registerCompleteForm.value | json }} -->
</div>
