.cards {
	align-self: stretch;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	min-height: 60%;
	overflow-y: hidden;
	flex: 1;
}
.msg-card {
	display: flex;
	/* background: linear-gradient(
		to left top,
		rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0.5)
	); */
	background-color: white;
	/* border-radius: 1rem; */
	/* box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2); */
	justify-content: flex-start;
	position: relative;
	margin-bottom: 0rem;
	/* height: 4.5rem; */
	flex-direction: column;
	border: none;
	padding: 0rem 1rem 1rem 2rem;
}
.msg-card > .msg-dp,
.badge {
	position: absolute;
}
.card-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.msg-dp > img {
	width: 65px;
	height: 65px;
}

.msg-dp {
	left: 0;
}
.badge {
	width: 1.5rem;
	height: 1.5rem;
	text-align: center;
	font-size: 0.9rem;
	padding-top: 0.3rem;
	border-radius: 1rem;
	top: 7%;
	left: 2.5rem;
	background: #333;
	color: white;
	vertical-align: middle;
}

.card-msg-user {
	padding: 0.2rem 0 0 0;
}
