<div class="heading">
	<i class="fa fa-mail-reply-all"></i><span class="title">Messages</span>
</div>
<div class="cards">
	<div
		class="msg-card"
		*ngFor="let chat of friends"
		(click)="changeRoute(chat.username)"
		[class.active]="chat.username === chatMember"
	>
		<div class="msg-dp-wrapper">
			<div class="msg-dp">
				<img
					class="rounded-circle"
					style="height: 50px"
					[src]="
						chat.photoUrl ||
						(chat.gender === 'Male'
							? '../assets/profileboy.png'
							: '../assets/profilegirl.png')
					"
				/>
			</div>
			<div
				[class.is-online]="
					(presence.onlineUsers$ | async).includes(chat?.username)
				"
				class="online-presence"
			></div>
		</div>
		<!-- <div class="badge">15</div> -->
		<div class="chat-content">
			<div class="card-msg-user">
				<span
					class="msg-user-title"
					[ngStyle]="
						this.chat?.latestMessage?.DateRead == null
							? { fontWeight: '900' }
							: 'normal'
					"
					>{{ chat.name }}</span
				>
			</div>
			<span
				class="card-latest-msg"
				[ngStyle]="
					this.chat?.latestMessage?.dateRead == null &&
					this.chat?.latestMessage?.senderUsername ==
						this.chat?.username
						? { fontWeight: '900', color: 'red' }
						: { fontWeight: 'normal', color: 'black' }
				"
				>{{
					this.chat?.latestMessage?.isImage
						? "Sent an image."
						: this.chat?.latestMessage?.content
				}}</span
			>

			<div class="filler"></div>
		</div>
		<div
			class="chat-time"
			[ngStyle]="
				this.chat?.latestMessage?.dateRead == null &&
				this.chat?.latestMessage?.senderUsername == this.chat?.username
					? { fontWeight: '900', color: 'red' }
					: { fontWeight: 'normal', color: 'gray' }
			"
		>
			<span>{{
				this.chat?.latestMessage?.messageSent | date: "shortTime"
			}}</span>
		</div>
	</div>
</div>
