<div class="heading">
	<i class="fa fa-mail-reply-all"></i><span class="title">Messages</span>
</div>
<div class="cards">
	<div
		class="msg-card"
		*ngFor="let chat of friends"
		(click)="changeRoute(chat.username)"
		[class.active]="chat.username === chatMember"
	>
		<div class="msg-dp-wrapper">
			<div class="msg-dp">
				<img
					[src]="
						chat.photoUrl || chat.gender === 'Male'
							? '../assets/profileboy.png'
							: '../assets/profilegirl.png'
					"
				/>
			</div>
			<div
				[class.is-online]="
					(presence.onlineUsers$ | async).includes(chat?.username)
				"
				class="online-presence"
			></div>
		</div>
		<!-- <div class="badge">15</div> -->
		<div class="chat-content">
			<div class="card-msg-user">
				<span class="msg-user-title">{{ chat.name }}</span>
			</div>
			<span class="card-latest-msg">{{
				(this.messageService.latestMessage$ | async)?.content ||
					this.chat?.latestMessage
			}}</span>

			<div class="filler"></div>
		</div>
		<div class="chat-time">
			<span>{{
				(this.messageService.latestMessage$ | async)?.messageSent ||
					this.chat?.latestMessageSent | date: "shortTime"
			}}</span>
		</div>
	</div>
</div>
