.cards {
	align-self: stretch;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	/* min-height: 60%; */
	overflow-y: hidden;
	flex: 1;
	height: 100%;
	padding: 0.5rem 0;
}
.msg-card {
	display: flex;
	background-color: transparent;
	position: relative;
	margin-bottom: 0rem;
	border: none;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 1rem 0.5rem 0;
	cursor: pointer;
}
.msg-card.active {
	background-color: #a594f9;
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
}
.msg-card:hover .card-latest-msg,
.msg-card.active .card-latest-msg {
	color: white;
}

.msg-card:hover .msg-user-title,
.msg-card.active .msg-user-title {
	color: white;
}
.msg-card:hover .chat-time,
.msg-card.active .chat-time {
	color: lightblue;
}
.badge {
	position: absolute;
}
.card-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.msg-dp > img {
	width: 50px;
	height: 50px;
}

.msg-dp {
	left: 0;
	display: inline-block;
	padding: 0 0.5rem;
}
.badge {
	width: 1.5rem;
	height: 1.5rem;
	text-align: center;
	font-size: 0.9rem;
	padding-top: 0.3rem;
	border-radius: 1rem;
	top: 7%;
	left: 2.5rem;
	background: #333;
	color: white;
	vertical-align: middle;
}

.card-msg-user {
	padding: 0.2rem 0 0 5;
}
.heading {
	font-size: 1.25rem;
	text-align: center;
	width: 100%;
	font-weight: 900;
}
.heading > i {
	font-size: 1.25rem;
	color: #237adf;
	margin-right: 1rem;
}
.msg-user-title {
	font-size: 0.9rem;
}

.card-latest-msg {
	font-size: 0.7rem;
	color: gray;
}

.chat-content {
	white-space: nowrap;
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	align-items: flex-start;
	flex-grow: 1;
	flex-shrink: 0;
}

.chat-time {
	padding-left: 20px;
	align-self: flex-start;
	color: slategray;
	font-size: 0.6rem;
	padding: 1rem;
	font-weight: 700;
}

@media screen and (max-width: 1000px) {
	.chat-content {
		display: none;
	}
	.chat-time {
		display: none;
	}
	.msg-card {
		padding: 0.5rem 0;
	}
	.msg-dp {
		overflow: hidden;
		border-radius: 50%;
		padding: 0;
	}
	.msg-dp:hover {
		background-color: rgba(43, 142, 255, 0.7);
		transform: scale(1.2);
	}
	.heading > .title {
		display: none;
	}
	.heading > i {
		margin: 0;
	}
}

@media screen and (min-width: 1000px) {
	.msg-card:hover {
		background-color: rgba(43, 142, 255, 0.7);
		box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
	}
}
