<div class="cards">
	<div class="msg-card">
		<div class="msg-dp"><img src="../assets/profile.png" alt="" /></div>
		<div class="badge">15</div>
		<div class="card-msg-user">
			<h5>This is a test Group</h5>
		</div>
		<div class="card-latest-msg">
			<h6>This is a test message...</h6>
		</div>
	</div>
	<div class="msg-card">
		<div class="msg-dp"><img src="../assets/profile.png" alt="" /></div>
		<div class="badge">15</div>
		<div class="card-msg-user">
			<h5>This is a test Group</h5>
		</div>
		<div class="card-latest-msg">
			<h6>This is a test message...</h6>
		</div>
	</div>
	<div class="msg-card">
		<div class="msg-dp"><img src="../assets/profile.png" alt="" /></div>
		<div class="badge">15</div>
		<div class="card-msg-user">
			<h5>This is a test Group</h5>
		</div>
		<div class="card-latest-msg">
			<h6>This is a test message...</h6>
		</div>
	</div>
	<div class="msg-card">
		<div class="msg-dp"><img src="../assets/profile.png" alt="" /></div>
		<div class="badge">15</div>
		<div class="card-msg-user">
			<h5>This is a test Group</h5>
		</div>
		<div class="card-latest-msg">
			<h6>This is a test message...</h6>
		</div>
	</div>
</div>
